<div class="slideshow-container">
  <app-barra-busqueda></app-barra-busqueda>
  <div class="mySlides fade">
    <a routerLink="/showDetail/{{getMedia()}}/{{slides[slideIndex].id}}">
      <img id="slideImg" src={{getSlideBackdrop()}} alt="Poster Show">
    </a>
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
  <div id="slideInfo">
    <div id="slideTitle">
      <p><b>{{slides[slideIndex].title || slides[slideIndex].name}}</b></p>
      <p>{{slides[slideIndex].release_date || slides[slideIndex].first_air_date}} | 100 min | PG</p>
    </div>
    <div id="ratingSlide">
      <p id="rating"><b>{{slides[slideIndex].vote_average}}</b></p>
      <app-rating [vote_average]=slides[slideIndex].vote_average></app-rating>
    </div>
  </div>  
</div>
<br>  
  <div style="text-align:center">
    <span class="dot" (click)="showSlide(0)"></span>
    <span class="dot" (click)="showSlide(1)"></span>
    <span class="dot" (click)="showSlide(2)"></span>
    <span class="dot" (click)="showSlide(3)"></span>
  </div>
<br>
<br>

<div id="restoNovedades">
  <div >
    <h2 class="inline">Novedades</h2>
    <nav class="verMas">
      <a routerLink="movies">Ver todas ></a>
    </nav>
    <br>
    <div class="novedadesContent">
      <div *ngFor="let pelicula of peliculasPopulares | slice : 2:7 ">
        <app-show-miniature [show]=pelicula></app-show-miniature>
      </div> 
    </div>
  </div>
  
  <br>
  <br>
  
  <div>
    <h2 class="inline">Series</h2>
    <nav class="verMas">
      <a routerLink="series">Ver todas ></a>
    </nav>
    <div class ="novedadesContent">
      <div *ngFor="let serie of seriesPopulares | slice : 2:7 ">    
        <app-show-miniature [show]=serie></app-show-miniature>
      </div>    
    </div>    
  </div>
  <br>
  <br>
</div>


