<div id = "header">
    <button id="menu" (click)="ToggleModal()" aria-label="open nav menu"><img id="menuIcon" src="../../../assets/img/burgerMenu.png" alt="open nav menu"></button>
    <div class="modal" *ngIf="isShown">
        <button id="closeModalDesktop" class="closeModal" (click)="ToggleModal()" aria-label="close nav menu"><img src="../../../assets/img/cerrar.png" alt="close nav menu"></button>
        <div class="modalContent">
            <nav>
                <a routerLink="" (click)="ToggleModal()">Inicio</a>
                <br>
                <a routerLink="/search" (click)="ToggleModal()">Buscador</a>
                <br>
                <a routerLink="/series" (click)="ToggleModal()">Series TV</a>
                <br>
                <a routerLink="/movies" (click)="ToggleModal()">Peliculas</a>
                <br>
                <a routerLink="/myList" (click)="ToggleModal()">Mi lista</a>
                <br>
                <a routerLink="/myProfile" (click)="ToggleModal()">Mi perfil</a>
            </nav>
            <br>
            <br>
            <button id="closeModalMobile" (click)="ToggleModal()" aria-label="close nav menu"><img src="../../../assets/img/cerrar.png" alt="close nav menu"></button>
        </div>
      </div>
            
</div>