<div id = "header">
    <div>
        <button class="openModal" (click)="ToggleModal()"><img src="../../../assets/img/BurgerMenu.png"></button>
    </div>
    <div class="modal" *ngIf="isShown">
        <div>
            <button id="closeModalDesktop" class="closeModal" (click)="ToggleModal()"><img src="../../../assets/img/Cerrar.PNG" height="70"></button>
        </div>
        <div class="modalContent">
            <nav>
                <a routerLink="" (click)="ToggleModal()">Inicio</a>
                <br>
                <a routerLink="/search" (click)="ToggleModal()">Buscador</a>
                <br>
                <a routerLink="/series" (click)="ToggleModal()">Series TV</a>
                <br>
                <a routerLink="/movies" (click)="ToggleModal()">Peliculas</a>
                <br>
                <a routerLink="/myList" (click)="ToggleModal()">Mi lista</a>
                <br>
                <a routerLink="/myProfile" (click)="ToggleModal()">Mi perfil</a>
            </nav>
            <div>
                <button id="closeModalMobile" (click)="ToggleModal()"><img src="../../../assets/img/Cerrar.PNG" height="70"></button>
            </div>
        </div>
      </div>
            
</div>