<div class="rating" (mouseenter)="isHover = true" (mouseleave)="isHover = false" (click)="ToggleModal()">
    <div class="modal" *ngIf="isShown">
        <div class="modalContent">
            <p>Se ha guardado la puntuación</p>
        </div>
    </div>      
    
    <img *ngIf="!isHover" src={{stars}} alt="Rating Global">

    <div  class="inline"(mouseenter)="star[4] = 'fullStar'" (mouseleave)="star[4] = 'emptyStar'">
        <img *ngIf="isHover" src="../../../assets/img/{{star[4]}}.png" alt="Star">
        <div class="inline"(mouseenter)="star[3] = 'fullStar'" (mouseleave)="star[3] = 'emptyStar'">
            <img *ngIf="isHover" src="../../../assets/img/{{star[3]}}.png" alt="Star">
            <div class="inline"(mouseenter)="star[2] = 'fullStar'" (mouseleave)="star[2] = 'emptyStar'">
                <img *ngIf="isHover" src="../../../assets/img/{{star[2]}}.png" alt="Star">
                <div class="inline"(mouseenter)="star[1] = 'fullStar'" (mouseleave)="star[1] = 'emptyStar'">
                    <img *ngIf="isHover" src="../../../assets/img/{{star[1]}}.png" alt="Star">
                    <div class="inline"(mouseenter)="star[0] = 'fullStar'" (mouseleave)="star[0] = 'emptyStar'">
                        <img *ngIf="isHover" src="../../../assets/img/{{star[0]}}.png" alt="Star">
                    </div>
                </div>
            </div>            
        </div>        
    </div>
</div>
