<div id="footer" *ngIf="!hideFooter">
    <div id="footerContent">
        <div>
            <p><b>¿Preguntas? Llama al 900234987</b></p>
        </div>
        <div id="footerNavigation">
            <div >
                <a>Preguntas frecuentes</a><br>
                <a>Inversores</a><br>
                <a>Formas de ver</a><br>
                <a>Información corporativa</a><br>
                <a>Originales de Netflix</a><br>
            </div>
            <div >
                <a>Centro de ayuda</a><br>
                <a>Empleo</a><br>
                <a>Términos de uso</a><br>
                <a>Contáctanos</a><br>
            </div>
            <div >
                <a>Cuenta</a><br>
                <a>Canjear tarjetas regalo</a><br>
                <a>Privacidad</a><br>
                <a>Prueba de velocidad</a><br>
            </div>
            <div >
                <a>Zona de prensa</a><br>
                <a>Comprar tarjetas regalo</a><br>
                <a>Preferencias de cookies</a><br>
                <a>Avisos legales</a><br>
            </div>
        </div>
        <img id="footerLogo" src="../../../assets/img/Logo.PNG" height="40">
        <div id="externalLinks">            
            <div id="languageSelector">
                <a>Español</a>
                <span>|</span>
                <a>English</a>
            </div> 
            <div id="redesSociales">
                <div class="redSocialLogo"><img src="../../../assets/img/Twitter.PNG" height="40"></div>                
                <div class="redSocialLogo"><img src="../../../assets/img/Instagram.PNG" height="40"></div>
                <div class="redSocialLogo"><img src="../../../assets/img/Facebook.PNG" height="40"></div>
                <div class="redSocialLogo"><img src="../../../assets/img/Youtube.PNG" height="40"></div>
                <div class="redSocialLogo"><img src="../../../assets/img/Share.PNG" height="40">     </div>       
            </div>
              
        </div>
    </div>    
</div>
