
#footer {
  display: none;
}

@media only screen and (min-width: 601px) {
  #footer {
    display: block;
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  #footerContent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #footerNavigation{
    column-count: 4;
  }
  
  #footerLogo{
    display: inline;
    height: 40px;
  }
  
  #externalLinks{
    width: 60%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: right;
  }
  
  .redesSociales{
    height: 40px;
    margin-right: 2.5%;
  }  
}